<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<appSettings>
		<!-- To enable internal log4net logging specify the following appSettings key -->
		<add key="log4net.Internal.Debug" value="true" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="soapWCFServiceLibrary.Service3" 
					 behaviorConfiguration="TweetServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9999/TweetService2" />
					</baseAddresses>
				</host>
				<endpoint name="SOAPEndPoint"
						  address="soap"
						  binding="basicHttpBinding"
						  contract="soapWCFServiceLibrary.IService3" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="TweetServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>